<div class="modal fade" id="cookie_consent" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attenzione</h5>
            </div>
            <div class="modal-body">
                <p>Questo sito utilizza i cookie per garantire il suo corretto funzionamento. I dati degli utenti non vengono salvati in alcun modo.
                Continuando la navigazione accetti il loro utilizzo.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" onclick="setConsent()">Ho capito</button>
            </div>
        </div>
    </div>
</div>