<footer class="mt-auto py-3 text-dark text-center border-top shadow">
    <div class="container text-dark">
        <div class="row">
            <div class="col-lg-4 mt-3">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="/about" class="nav-link text-muted">About</a></li>
                    <li class="nav-item"><a href="/about#technologies" class="nav-link text-muted">Tecnologie</a></li>
                    <li class="nav-item"><a href="/about#developer" class="nav-link text-muted">Sviluppatore</a></li>
                </ul>
            </div>
            <div class="col-lg-4 mt-3">
                <p class="footerTitle">Coursellama &nbsp;<img src="/img/websiteLogo.png" alt="logo" width="35"></p>
            </div>
            <div class="col-lg-4 mt-3 pt-1">
                <p class="text-muted"><small>© 2021. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</footer>