<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid my-2">
        <a class="navbar-brand" href="/">
            <img class="d-inline-block align-text-bottom" src="/img/websiteLogo.png" width="25px" alt="">
            &nbsp Coursellama
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-md-block d-lg-none">
                <li class="nav-item">
                    <% if(ctx.info.logged) { %>
                        <a class="nav-link" href="/profile">Vai al profilo</a>
                        <a class="nav-link" href="/logout">Logout</a>
                    <% } else { %>
                        <a class="nav-link" href="/login">Accedi</a>
                        <a class="nav-link" href="/register">Registrati</a>
                        <a class="nav-link" href="/#getStarted">Perché unirti?</a>
                    <% } %>
                    <div class="dropdown-divider"></div>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link <%= ctx.info.active == 'courses' ? 'active' : '' %>" aria-current="page" href="/courses">Corsi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= ctx.info.active == 'teachers' ? 'active' : '' %>" href="/teachers">Insegnanti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= ctx.info.active == 'about' ? 'active' : '' %>" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav d-none d-lg-block">
                <li class="nav-item">
                    <% if(ctx.info.logged) { %>
                        <div class="dropdown">
                            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                Profilo
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item customDropdown" href="/profile">Vai al profilo</a></li>
                                <li><a class="dropdown-item customDropdown" href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    <% } else { %>
                        <div class="dropdown">
                            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                Unisciti
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item customDropdown" href="/login">Accedi</a></li>
                                <li><a class="dropdown-item customDropdown" href="/register">Registrati</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item customDropdown" href="/#getStarted">Perché unirti?</a></li>
                            </ul>
                        </div>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>